Index:
  Background: Build
  StandardLibrary: True
CompileFlags:
  Add: [-Isrc, -std=c++2c]
Style:
  FullyQualifiedNamespaces: True
Diagnostics:
  ClangTidy:
    FastCheckFilter: None
  UnusedIncludes: Strict
  Includes:
    MissingIncludes: Strict
Hover:
  ShowAKA: True
