---
Checks:
  - 'bugprone-*'
  - 'clang-analyzer-*'
  - 'clang-diagnostic-*'
  - 'concurrency-*'
  - 'cppcoreguidelines-*'
  - 'hicpp-*'
  - 'misc-*'
  - 'modernize-*'
  - 'performance-*'
  - 'portability-*'
  - 'readability-*'
  - '-*-cognitive-complexity'
  - '-*-use-trailing-return-type'
  - '-bugprone-easily-swappable-parameters'
  - '-llvm-prefer-static-over-anonymous-namespace'
  - '-misc-include-cleaner'
  - '-portability-avoid-pragma-once'
  - '-readability-use-concise-preprocessor-directives'
CheckOptions:
    readability-braces-around-statements.ShortStatementLines: 1
    readability-identifier-naming.MemberPrefix: 'm_'
    readability-identifier-length.IgnoredVariableNames: '_'
SystemHeaders:   false
UseColor: true
WarningsAsErrors: ''
