---
Checks:
  - 'bugprone-*'
  - 'clang-analyzer-*'
  - 'clang-diagnostic-*'
  - 'concurrency-*'
  - 'cppcoreguidelines-*'
  - 'hicpp-*'
  - 'misc-*'
  - 'modernize-*'
  - 'performance-*'
  - 'portability-*'
  - 'readability-*'
  - '-bugprone-easily-swappable-parameters'
  - '-*-magic-numbers'
  - '-*-use-nodiscard'
  - '-*-use-trailing-return-type'
WarningsAsErrors: ''
AnalyzeTemporaryDtors: false
SystemHeaders:   false
...

