[submodule "etc/doctest"]
	path = etc/doctest
	url = https://github.com/doctest/doctest.git
[submodule "etc/googletest"]
	path = etc/googletest
	url = https://github.com/google/googletest.git
[submodule "etc/fuzztest"]
	path = etc/fuzztest
	url = https://github.com/google/fuzztest.git
