[submodule "raylib"]
	path = ext/raylib
	url = https://github.com/MrTreev/raylib.git

[submodule "entt"]
	path = ext/entt
	url = https://github.com/skypjack/entt.git

[submodule "raylib"]
    path = ext/raylib-cpp
	url = https://github.com/MrTreev/raylib-cpp.git
