[submodule "third_party/doctest"]
	path = third_party/doctest
	url = https://github.com/doctest/doctest.git
	branch = master
[submodule "third_party/zpp_bits"]
	path = third_party/zpp_bits
	url = https://github.com/eyalz800/zpp_bits.git
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest.git
[submodule "third_party/imgui"]
	path = third_party/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "third_party/glfw"]
	path = third_party/glfw
	url = https://github.com/glfw/glfw.git
